*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;
    color: hsl(210, 100%, 56%);
}

.hh{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.text{
    margin-top: 150px;
    width: 700px;
    font-weight: 500;
    font-size: 20px;
    color: #B8860B;
    text-shadow: 1px 1px 2px #ccc;
    margin-right: 30px;
    text-align:justify;
}

span{
    position: absolute;
    top: 105px;right: 10px;
    width: 700px;
    height: 6px;
    background-color: rgb(178, 34, 34);
    border-radius: 10px;
    margin-right: 30px;
}

.container{
    height: 700px;
    background-color: rgba(135, 206, 250, .5);
}

.hymn{
    width: 460px;
    height: 560px;
    margin-left: 50px;
}