*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
}

header{
    width: 1200px;
    height: 65px;
    border-radius: 20px;
    background-color: hsla(43, 100%, 52%, .7);
    position: fixed;
    left:150px;
    top: 10px;
    box-shadow: 10px 7px 40px #363636;
    z-index: 10;
}

.main_block{
    background: url('../img/kz_flag.jpeg') center center/cover no-repeat;
    height: 700px;
    position: relative;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 700px;
    margin: 0 auto;
    margin-top: 12px;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 25px;
    text-shadow: 3px 3px 10px #363636;
}

h1{
    position: absolute;
    top: 220px;
    left: 275px;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
}

.down{
    position: absolute;
    top: 380px;
    left: 570px;
    width: 315px;
    height: 70px;
    border-width: 4px;
    font-size: 25px;
    font-weight: 700;
}

.block_title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: hsl(51, 100%, 50%);
}

.sub_block{
    position: relative;
}

.flag_text_1{
    position: absolute;
    top: 20px;right: 20px;
    width: 500px;
    font-size: 30px; 
    font-weight: 500;
    color: hsl(195, 100%, 50%);
    margin-top: 20px;
}

.flag_subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
    color: rgba(218, 165, 32, .7);
}

.flag_text_2{
    margin-bottom: 20px;
    color: rgb(24 116 205);
    font-size: 20px;
    font-weight: 500;
}

.last_btn{
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
